<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Cart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='cart.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/749dd8838c.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="top-nav">
    <div onclick="location.href='{{ url_for('home') }}'" style="cursor: pointer">
      <img src="static/images/LandingPage/1a.png" class="logo">
    </div>
    <div style="margin-left: 100px; margin-right: 100px;">
      <form action="/search" method="post">
        <input type="text" placeholder=" Search in HAUS Home and Living" name="search" size="80" />
        <button type="submit"
          style="border: none; padding: 10px; width: 50px; background-color: #f9f9f9; cursor: pointer;"><i
            class='fa fa-search'></i></button>
      </form>
    </div>
    <div class="w3-container" style="float: right; width: 15%;display: inline-flex; ">

      <i class="fa-regular fa-heart fa-2x" style="margin-right: 30px; cursor: pointer;"></i>
      <i class="fa-solid fa-cart-shopping fa-2x" style="cursor: pointer; margin-right: 30px;" onclick="location.href='/cart'"></i>
      <i class="fa fa-bell fa-2x" style="cursor: pointer;  margin-right: 30px;" onclick="location.href='/notification'"></i>
      <div class="dropdown">
        <i class="fa fa-user fa-2x" style="cursor: pointer;"></i>
        <div class="dropdown-content">
          <a href="/profiles">Account</a>
          <a href="/login">Login</a>
          <a href="/register">Signup</a>
        </div>
        {% if account != "" %}
        <a style="font-size:0.8em;">{{account}}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  <div>
    <span style="margin-left: 190px;">
      <a href="#" class="upper-link" style="color: #4B8D2F">Home </a> |
      <a href="#" class="upper-link" style="color: #EE4D2D">My Shopping Cart</a>
    </span>
  </div>
  <br />
  <table class="prod-list">
    <tr>
      <th style="width: 80px;"></th>
      <th colspan="2" style="text-align: left; padding-left: 16px;">Product</th>
      <th></th>
      <th style="width: 200px;">Unit Price</th>
      <th style="width: 160px;">Quantity</th>
      <th style="width: 200px;">Total Price</th>
      <th style="width: 200px;">Action</th>
    </tr>
  </table>

  <br>

  <table class="prod-list">
    <!--FIRST ITEM-->
    <form>
      {% for x in range(prod|length) %}
        <tr>
          <td class="center" style="width: 80px;">
            <input type="checkbox" class="box" id="product{{x}}" name="product[]">
          </td>
          <td style="width: 120px;">
            <div class="other-content-pic">
              <img src="/static/{{info[x].photo_link}}">
            </div>
          </td>
          <td style="text-align: left;">
            {{prod[x].name}}
          </td>
          <td class="center" style="width: 200px;">
            ₱ <a id="prod_price{{x}}">{{prod[x].price}}</a>
          </td>
          <td class="center" style="width: 50px;">
            <div class="counter">
              <span class="down" onClick='decreaseCount{{x}}(event, this)'>-</span>
              <input type="text" id="quantity{{x}}" style="height: 40px;" value="1">
              <span class="up" onClick='increaseCount{{x}}(event, this)'>+</span>
            </div>
            <script type="text/javascript">
              function increaseCount{{x}}(a, b) {
                var input = b.previousElementSibling;
                var value = parseInt(input.value, 10);
                value = isNaN(value) ? 0 : value;
                value++;
                input.value = value;

                const price = document.getElementById('prod_price{{x}}').innerHTML;
                document.getElementById('final_price{{x}}').innerHTML = price*value + '.00';

                const total = document.getElementById('total_payment').innerHTML;
                document.getElementById('total_payment').innerHTML = parseInt(total) + parseInt({{prod[x].price}}) + '.00';
              }
              function decreaseCount{{x}}(a, b) {
                var input = b.nextElementSibling;
                var value = parseInt(input.value, 10);
                if (value > 1) {
                  value = isNaN(value) ? 0 : value;
                  value--;
                  input.value = value;
                  const price = document.getElementById('prod_price{{x}}').innerHTML;
                  document.getElementById('final_price{{x}}').innerHTML = price*value + '.00';

                  const total = document.getElementById('total_payment').innerHTML;
                  document.getElementById('total_payment').innerHTML = parseInt(total) - parseInt({{prod[x].price}}) + '.00';
                }
              }
            </script>
          </td>
          <td class="center" style="width: 200px; font-weight: bold; color: #EE4D2D">
            ₱ <a id="final_price{{x}}">{{prod[x].price}}</a>
          </td>
          <td class="center" style="width: 200px;">
            <span style="color: red; font-weight: bold;"><a href="/delete_cart_item/{{prod[x].prod_id}}">Delete</a></span><br />
            <!--Place functionality for the items-->
            <span style="color: green; font-weight: bold;"><a href="/search/{{prod[x].name}}">Find Similar</a></span>
          </td>
        </tr>
      {% endfor %}
    </form>

    <tr>
      <td class="center">
        <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
      </td>
      <td colspan="2">
        Free shipping with the minimum order of P10,000 
        <span style="color: skyblue; cursor: pointer;">Learn More</span>
      </td>
      <td >
        
      </td>
      <td></td><td></td><td></td><td></td><!--Leave blank-->
    </tr>

  </table>

  <br> <br> <br> <br> <br> <br> <br> <br>
  <!--Checkout part-->
  <div class="check-out w3-card-4">
    <div class="check-out-top">
      Shopping Cart Items
    </div>

      <div class="check-out-bot ">
          <table class="overall">
            <tr>
              <td style="width: 35px;">

                  <input type="checkbox" class="box" id="select_all_product" name="#" value="#" onClick='select_all(event, this)'>
                    <script type="text/javascript">
                  function select_all(a, b) {

                    if(document.getElementById('select_all_product').checked){


                      for(let i = 0; i < {{size}}; i++){
                        document.getElementById('product'+i).checked = true;
                        const total = document.getElementById('total_payment').innerHTML;
                        document.getElementById('total_payment').innerHTML = parseInt(total) + parseInt(document.getElementById('final_price'+i).innerHTML);
                      }
                      document.getElementById('total_payment').innerHTML = document.getElementById('total_payment').innerHTML + '.00';
                    }else{
                      for(let i = 0; i < {{size}}; i++){
                        document.getElementById('product'+i).checked = false;
                        document.getElementById('quantity'+i).value = 1;
                      }
                      document.getElementById('total_payment').innerHTML = '0.00';
                    }
                  }
                </script>

              </td>
              <td style="font-weight: bold;">
                Select All
              </td>
              <td style="font-weight: bold; color: red;">
                <a href="#">Delete Selected</a>
              </td>
              <td style="font-weight: bold; color: #4B8D2F;">
                <a href="#">Move to My Likes</a>
              </td>
              <td style="text-align: right;">
                Total ({{size}} items):
              </td>
              <td style="color: #EE4D2D; font-weight: bold; font-size: 25px; width: 220px;">
                ₱ <a id="total_payment">0.00</a>
              </td>
              <td>
                <button class="checkout-btn" onclick="location.href='/checkout'">Check out</button>
              </td>
            </tr>
          </table>
      </div>

  </div>
</body>

</html>