<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>School and Office Equipment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='listing.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/749dd8838c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="top-nav">
            <div>
              <a href="{{ url_for('home') }}"><img src="static/images/LandingPage/1a.png" class="logo"></a>
            </div>
            <div style="margin-left: 100px; margin-right: 100px;">
              <form>
                <input type="text" placeholder=" Search in HAUS Home and Living" name="search" size="70" />
                <button type="submit" style="border: none; padding: 10px; width: 50px; background-color: #f9f9f9; cursor: pointer;"><i class='fa fa-search'></i></button>
              </form>
            </div>
            <div class="w3-container" style="float: right;  width: 15%;">

              <i class="fa-regular fa-heart fa-2x" style="margin-right: 40px; cursor: pointer;"></i>
              <i class="fa-solid fa-cart-shopping fa-2x" style="cursor: pointer; margin-right: 40px;"></i>
                <div class="dropdown" >
                    <i class="fa fa-user fa-2x"  style="cursor: pointer;"></i>
                <div class="dropdown-content">
                    <a href="login">Login</a>
                    <a href="register">Signup</a>
                </div>
                {% if account != "" %}
                    <a style="font-size:0.8em;">{{account}}</a>
                {% endif %}
            </div>
            </div>
          </div>
        <div class="categories">
            <ul class="catg-line">
                <li><a href="{{ url_for('bath') }}">Bath</a></li>
                <li><a href="{{ url_for('bedding') }}">Bedding</a></li>
                <li><a href="{{ url_for('furniture') }}">Furniture</a></li>
                <li><a href="{{ url_for('storage') }}">Storage & Organization</a></li>
                <li><a href="{{ url_for('laundry_cleaning') }}">Laundry & Cleaning Equipment</a></li>
                <li><a href="{{ url_for('kitchen_dining') }}">Kitchen & Dining</a></li>
                <li><a href="{{ url_for('lighting') }}">Lighting</a></li>
                <li><a href="{{ url_for('decor') }}">Home Decor</a></li>
                <li><a href="{{ url_for('outdoor_garden') }}">Outdoor & Garden</a></li>
                <li><a href="{{ url_for('stationary_craft') }}">Stationery & Craft</a></li>
                <li><a href="{{ url_for('tools_home') }}">Tools & Home Improvement</a></li>
              </ul>
        </div>

        <div class="breadcrumb">
                <ul class="addressLink">
                    <li>
                        <a href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('stationary_craft') }}">Stationary & Craft</a>
                    </li>
                    <li>
                        <a href="#" style="text-decoration: underline; color: green;">School and Office Equipment</a>
                    </li>
                </ul>
        </div>

        <div class="category">
            <div class="category-container">

              <!--FIRST ITEM-->
              <div class="category-content w3-card-4">
                <div class="category-content-pic">
                  <img src = "static/images/Stationary and Craft/School and Office Equipment/schoolandofficeequipment1.jpg">
                </div>
                <div class="category-content-desc">
                  <p>Stapler
                    <i class="fa-regular fa-heart fa-2x" style="float: right; padding-right:10px ; cursor: pointer;"></i>
                  </p>
                  <div class ="price">
                  ₱100.00
                  </div>
                  <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    1.2k sold
                  </div>
                </div>
              </div>

              <!--SECOND ITEM-->
              <div class="category-content w3-card-4">
                <div class="category-content-pic">
                  <img src = "static/images/Stationary and Craft/School and Office Equipment/schoolandofficeequipment2.jpg">
                </div>
                <div class="category-content-desc">
                  <p>Epson Printer
                    <i class="fa-regular fa-heart fa-2x" style="float: right; padding-right:10px ; cursor: pointer;"></i>
                  </p>
                  <div class ="price">
                  ₱100.00
                  </div>
                  <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    1.2k sold
                  </div>
                </div>
              </div>

              <!--THIRD ITEM-->
              <div class="category-content w3-card-4">
                <div class="category-content-pic">
                  <img src = "static/images/Stationary and Craft/School and Office Equipment/schoolandofficeequipment3.jpg">
                </div>
                <div class="category-content-desc">
                  <p>AMS Glue Stick
                    <i class="fa-regular fa-heart fa-2x" style="float: right; padding-right:10px ; cursor: pointer;"></i>
                  </p>
                  <div class ="price">
                  ₱100.00
                  </div>
                  <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    1.2k sold
                  </div>

                </div>
              </div>

              <!--FOURTH ITEM-->
              <div class="category-content w3-card-4">
                <div class="category-content-pic">
                  <img src = "static/images/Stationary and Craft/School and Office Equipment/schoolandofficeequipment4.jpg">
                </div>
                <div class="category-content-desc">
                  <p>Spring Notebook
                    <i class="fa-regular fa-heart fa-2x" style="float: right; padding-right:10px ; cursor: pointer;"></i>
                  </p>
                  <div class ="price">
                  ₱100.00
                  </div>
                  <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    1.2k sold
                  </div>
                </div>
              </div>

              <!--FIFTH ITEM-->
              <div class="category-content w3-card-4">
                <div class="category-content-pic">
                  <img src = "static/images/Stationary and Craft/School and Office Equipment/schoolandofficeequipment5.jpg">
                </div>
                <div class="category-content-desc">
                  <p>Casio Regular Calculator
                    <i class="fa-regular fa-heart fa-2x" style="float: right; padding-right:10px ; cursor: pointer;"></i>
                  </p>
                  <div class ="price">
                  ₱100.00
                  </div>
                  <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    1.2k sold
                  </div>

                </div>
              </div>

            </div>
        </div>
        <br><br><br>
        <hr>
        <!--RELATED CATEGORIES-->
        <section class="related-cat">
        <p style="padding-left: 20px; font-size: 20px; font-weight: bold;">Related Categories</p>

          <div class="other">

            <!--related cat 1-->
            <div class="other-content w3-card-2" onclick="location.href='{{ url_for('paperproducts') }}' ;"
                    style="cursor: pointer;">
              <div class="other-content-pic">
                <img src = "static/images/Stationary and Craft/Paper Products/paperproducts1.jpg">
              </div>
              <div class="other-content-name">
                <p>Paper Products</p>
              </div>
            </div>

            <!--related cat 2-->
            <div class="other-content w3-card-2" onclick="location.href='{{ url_for('craft') }}' ;"
                    style="cursor: pointer;">
              <div class="other-content-pic">
                <img src = "static/images/Stationary and Craft/Crafting Supplies/craftsupplies1.jpg">
              </div>
              <div class="other-content-name">
                <p>Crafting Supplies</p>
              </div>
            </div>

            <!--related cat 3-->
            <div class="other-content w3-card-2" onclick="location.href='{{ url_for('packaging') }}' ;"
                    style="cursor: pointer;">
              <div class="other-content-pic">
                <img src = "static/images/Stationary and Craft/Packaging and Cartons/packagingandcartons1.jpg">
              </div>
              <div class="other-content-name">
                <p>Packaging and Cartons</p>
              </div>
            </div>

            <!--related cat 4-->
            <div class="other-content w3-card-2" onclick="location.href='{{ url_for('copier') }}' ;"
                    style="cursor: pointer;">
              <div class="other-content-pic">
                <img src = "static/images/Stationary and Craft/Copier Paper/CopierPaper1.jpg">
              </div>
              <div class="other-content-name">
                <p>Copier Paper</p>
              </div>
            </div>

            <!--related cat 5-->
            <div class="other-content w3-card-2" onclick="location.href='{{ url_for('writingcorrection') }}' ;"
                    style="cursor: pointer;">
              <div class="other-content-pic">
                <img src = "static/images/Stationary and Craft/Writing and correction/writingandcorrection1.jpg">
              </div>
              <div class="other-content-name">
                <p>Writing and Correction</p>
              </div>
            </div>

          </div>
        </section>
        <hr>
        <div class="footer">
          <br>
          <table>
            <tr>
              <th>News and Info</th>
              <th colspan="2">Top Brands and Pages</th>
              <th colspan="2" style="width: 30%;">Contacts</th>
            </tr>
            <tr>
              <td>Products</td>
              <td>Ikea</td>
              <td>Mandaue Foam</td>
              <td>Email</td>
              <td style="text-align: left; color:blue;">haus_service@email.com</td>
            </tr>
            <tr>
              <td>Guarantees</td>
              <td>Uratex</td>
              <td>Firefly</td>
              <td>Phone</td>
              <td style="text-align: left; color:blue;">+63 9123 456 789</td>
            </tr>
            <tr>
              <td>New Products</td>
              <td>Wilton</td>
              <td>Dewalt</td>
              <td>Address</td>
              <td style="text-align: left; color:blue;">HAUS Corp. Cebu City 6000, Philippines</td>
            </tr>
            <tr>
              <td>Wholesale</td>
              <td>Cofta</td>
              <td>Bosch</td>
            </tr>
            <tr>
              <td>Customer Service</td>
              <td>Stanley</td>
              <td>Philflex</td>
            </tr>

          </table>
          <br>
        Copyright &copy; HAUS Home & Living, 2022. The HAUS is not responsible for contents of external sites
        </div>
    </body>
</html>