<!doctype html>
<html>
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width-device-width, initial-scale = 1">
	<title>Registration</title>
	<link rel="stylesheet" href="static/registration.css">
	<link href='https://fonts.googleapis.com/css?family=Open Sans'>
</head>
<body>
	<div>
		<form id="registration_form" method="post" action="/register_account">
			<img src ="static/images/Registration/1.png">
			<h2>Registration</h2>
			<br/>
			<p><b>Last Name: </b>&emsp;&emsp;&emsp;&nbsp;
			<input type = "text" name = "lastname" placeholder="Enter Lastname" required/>
			</p>
			<p><b>First Name: </b>&emsp;&emsp;&emsp;&nbsp;
			<input type = "text" name = "firstname" placeholder="Enter Firstname" required/>
			</p>
			<p><b>Email address: </b>&emsp;&nbsp;&nbsp;
			<input type = "text" name = "email" placeholder="email@email.com" required/>
			</p>
			<p><b>Mobile Number: </b>&emsp;&nbsp;			
			<input type = "tel" name = "number" placeholder="0912-345-6789" min="0" step="1" maxlength="11" required />
			</p>
			<p><b>Password: </b>&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
			<input id="password" type="password" name="password" placeholder="&#128274; ********" required>
			</p>
			<p><b>Confirm Password:</b>
			<input id="confirm" type="password" name="confirm" placeholder="&#128274; ********" required>
			</p>
			<br/>
			{% if remark != "" %}
			<p style="color:red">{{remark}}</p>
			{% endif %}
			<input id="flag" name="flag" type="text" hidden value="proceed">
			<button type="submit" name = "register" value = "register" onclick="confirm_password(document.getElementById('password').value,document.getElementById('confirm').value)">Register</button>
			<p><a href="/">Cancel</a></p>
		</form>
	</div>
	
</body>
<script type="text/javascript" src='{{url_for("static",filename="script.js")}}'></script>
</html>
