<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Furniture</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='category_style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/749dd8838c.js" crossorigin="anonymous"></script>
        <style>
        </style>
    </head>
    <body>
        <div class="top-nav">
            <div>
              <a href="{{ url_for('home') }}"><img src="static/images/LandingPage/1a.png" class="logo"></a>
            </div>
            <div style="margin-left: 100px; margin-right: 100px;">
              <form method="POST" action="/search">
                <input type="text" placeholder=" Search in HAUS Home and Living" name="search" size="70" />
                <button type="submit" style="border: none; padding: 10px; width: 50px; background-color: #f9f9f9; cursor: pointer;"><i class='fa fa-search'></i></button>
              </form>
            </div>
            <div class="w3-container" style="float: right;  width: 15%;">

              <i class="fa-regular fa-heart fa-2x" style="margin-right: 30px; cursor: pointer;"></i>
              <i class="fa-solid fa-cart-shopping fa-2x" style="cursor: pointer; margin-right: 30px;" onclick="location.href='/cart'"></i>
              <i class="fa fa-bell fa-2x" style="cursor: pointer;  margin-right: 30px;" onclick="location.href='/notification'"></i>
              <div class="dropdown">
                <i class="fa fa-user fa-2x" style="cursor: pointer;"></i>
                <div class="dropdown-content">
                  <a href="/profiles">Account</a>
                  <a href="/login">Login</a>
                  <a href="/register">Signup</a>
                </div>
                {% if account != "" %}
                    <a style="font-size:0.8em;">{{account}}</a>
                  {% endif %}
            </div>
                <!-- End -->
            </div>
          </div>
        <div class="categories">
            <ul class="catg-line">
                <li><a href="{{ url_for('bath') }}">Bath</a></li>
                <li><a href="{{ url_for('bedding') }}">Bedding</a></li>
                <li><a href="{{ url_for('furniture') }}" class="active">Furniture</a></li>
                <li><a href="{{ url_for('storage') }}">Storage & Organization</a></li>
                <li><a href="{{ url_for('laundry_cleaning') }}">Laundry & Cleaning Equipment</a></li>
                <li><a href="{{ url_for('kitchen_dining') }}">Kitchen & Dining</a></li>
                <li><a href="{{ url_for('lighting') }}">Lighting</a></li>
                <li><a href="{{ url_for('decor') }}">Home Decor</a></li>
                <li><a href="{{ url_for('outdoor_garden') }}">Outdoor & Garden</a></li>
                <li><a href="{{ url_for('stationary_craft') }}">Stationery & Craft</a></li>
                <li><a href="{{ url_for('tools_home') }}">Tools & Home Improvement</a></li>
              </ul>
        </div>

        <div class="breadcrumb">
                <ul class="addressLink">
                    <li>
                        <a href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="#">Furniture</a>
                    </li>
                </ul>
        </div>

        <div class="category">
            <div class="category-container">

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('bedroomfurniture') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Bedroom Furniture/bedroom_furniture1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Bedroom Furniture</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('chair') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Chairs/chair1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Chairs </h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('gamingfurniture') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Gaming Furniture/gaming_furniture1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Gaming Furniture</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('officefurniture') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Home Office Furniture/home_furniture1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Home Office Furniture</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('kidstable') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Kids Tables & Sets/table_chairs1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Kids Tables & Sets </h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('kithcenfurniture') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Kitchen & Dining Furniture/kitchen_dining1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Kitchen & Dining Furniture</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('livingroom') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Living Room Furniture/living_room1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Living Room Furniture</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('mattress') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Mattresses/matress1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Mattresses</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('mediastorage') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Media & TV Storage/tv1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Media & TV Storage</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('outdoorfurniture') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Outdoor Furniture/outdoor1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Outdoor Furniture</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('sofas') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Sofas/sofa1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Sofas</h3>
                </div>
              </div>

              <div class="category-content w3-card-4" onclick="location.href='{{ url_for('wardrobe') }}' ;"
                    style="cursor: pointer;">
                <div class="category-content-pic">
                  <img src = "static/images/furniture/Wardrobes/wardrobe1.jpg">
                </div>
                <br>
                <div class="category-content-desc">
                  <h3>Wardrobes</h3>
                </div>
              </div>

            </div>
          </div>
          <hr>
          <div class="footer">
            <br>
            <table>
              <tr>
                <th>News and Info</th>
                <th colspan="2">Top Brands and Pages</th>
                <th colspan="2" style="width: 30%;">Contacts</th>
              </tr>
              <tr>
                <td>Products</td>
                <td>Ikea</td>
                <td>Mandaue Foam</td>
                <td>Email</td>
                <td style="text-align: left; color:blue;">haus_service@email.com</td>
              </tr>
              <tr>
                <td>Guarantees</td>
                <td>Uratex</td>
                <td>Firefly</td>
                <td>Phone</td>
                <td style="text-align: left; color:blue;">+63 9123 456 789</td>
              </tr>
              <tr>
                <td>New Products</td>
                <td>Wilton</td>
                <td>Dewalt</td>
                <td>Address</td>
                <td style="text-align: left; color:blue;">HAUS Corp. Cebu City 6000, Philippines</td>
              </tr>
              <tr>
                <td>Wholesale</td>
                <td>Cofta</td>
                <td>Bosch</td>
              </tr>
              <tr>
                <td>Customer Service</td>
                <td>Stanley</td>
                <td>Philflex</td>
              </tr>

            </table>
            <br>
          Copyright &copy; HAUS Home & Living, 2022. The HAUS is not responsible for contents of external sites
          </div>
    </body>
</html>