<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Notifications</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='notif.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/749dd8838c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="top-nav">
            <div onclick="location.href='{{ url_for('home') }}'" style="cursor: pointer">
              <img src="static/images/LandingPage/1a.png" class="logo">
            </div>
            <div style="margin-left: 100px; margin-right: 100px;">
              <form action="/search" method="post">
                <input type="text" placeholder=" Search in HAUS Home and Living" name="search" size="80" />
                <button type="submit" style="border: none; padding: 10px; width: 50px; background-color: #f9f9f9; cursor: pointer;"><i class='fa fa-search'></i></button>
              </form>
            </div>
            <div class="w3-container" style="float: right; width: 15%;display: inline-flex; ">
      
              <i class="fa-regular fa-heart fa-2x" style="margin-right: 30px; cursor: pointer;"></i>
              <i class="fa-solid fa-cart-shopping fa-2x" style="cursor: pointer; margin-right: 30px;" onclick="location.href='/cart'"></i>
              <i class="fa fa-bell fa-2x" style="cursor: pointer;  margin-right: 30px;" onclick="location.href='/notification'"></i>
              <div class="dropdown">
                <i class="fa fa-user fa-2x" style="cursor: pointer;"></i>
                <div class="dropdown-content">
                  <a href="#">Account</a>
                  <a href="/login">Login</a>
                  <a href="/register">Signup</a>
                </div>
                {% if account != "" %}
                    <a style="font-size:0.8em;">{{account}}</a>
                  {% endif %}
              </div>
            </div>
          </div>
          <br>
          <div class="container"><!--PARENT-->
            <div class="side-nav"><!--CHILD/LEFT PART/SIDE NAV-->
              <br>
                <div class="top-main">
                  <div class="top-a">
                    <img src="profile-icon.png" class="prof-pic"><!--get photo from intprog_haus/templates/user1.png-->
                  </div>
                  <div class="top-b">
                    <span style="font-weight: bolder;">Username</span><br/>
                    <span style="font-size: 12px;"><a href="" style="text-decoration:underline; color: dodgerblue;">Edit Profile</a></span>
                  </div>
                </div>
                <ul>
                  <a href="#"><li>My Profile</li></a>
                  <a href="#"><li>Addresses</li></a>
                  <a href="#"><li>My Purchases</li></a>
                  <a href="#"><li>Notifications</li></a>
                  <a href="#"><li>History</li></a>
                </ul>
            </div>
            <div class="content"><!--CHILD/RIGHT PART-->
              <div style="border-bottom: 3px solid #aeaeae; padding-left:25px">
                <h3 style="font-weight: bold;">Notifications</h3>
              </div>
              <table class="notif-tbl">
                  <!--notification '1'-->
                <tr>
                    <td style="width:70%; text-align:left; padding:25px;" class="cell">
                        Your orders {{lst}},  has been delivered successfully! <!--insert the items names-->
                    </td>
                    <td class="cell">
                        <a href="/purchases" class="click">Click to go to</a><!--link that will redirect them to the my purchases tab to rate-->
                    </td>
                </tr>
                  <!--end notification '1'-->

              </table>
            </div>
          </div>

          <!--FOOTER-->
          <hr>
          <br />
          <div class="footer">
            <br>
            <table class="foot">
              <tr>
                <th>News and Info</th>
                <th colspan="2">Top Brands and Pages</th>
                <th colspan="2" style="width: 30%;">Contacts</th>
              </tr>
              <tr>
                <td>Products</td>
                <td>Ikea</td>
                <td>Mandaue Foam</td>
                <td>Email</td>
                <td style="text-align: left; color:blue;">haus_service@email.com</td>
              </tr>
              <tr>
                <td>Guarantees</td>
                <td>Uratex</td>
                <td>Firefly</td>
                <td>Phone</td>
                <td style="text-align: left; color:blue;">+63 9123 456 789</td>
              </tr>
              <tr>
                <td>New Products</td>
                <td>Wilton</td>
                <td>Dewalt</td>
                <td>Address</td>
                <td style="text-align: left; color:blue;">HAUS Corp. Cebu City 6000, Philippines</td>
              </tr>
              <tr>
                <td>Wholesale</td>
                <td>Cofta</td>
                <td>Bosch</td>
              </tr>
              <tr>
                <td>Customer Service</td>
                <td>Stanley</td>
                <td>Philflex</td>
              </tr>
            </table>
            <br/>
        Copyright &copy; HAUS Home & Living, 2022. The HAUS is not responsible for contents of external sites
        </div>
    </body>
</html>