body {
    margin: 0;
}

.logo {
    float: left;
    max-width: 20vh;
    margin-left: 20px;
}

.w3-container{
    float: right;
    width: 15%;
    display: inline-flex;
}

input {
    border-style: hidden;
    background-color: white;
    padding: 10px;
}

.top-nav {
    display: flex;
    background-color: #D3D29E;
    height: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.categories {
    width: 100%;
    display: flex;
    margin: auto;
    left: 50%;
    text-align: center;
    background-color: #F0F0DE;
}
.catg-line{
    background-color: #F0F0DE;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    margin: auto;
    text-align: center;
    align-items: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
}

li a:hover {
    background-color: #4B8D2F;
    color: white;
}


li a.active {
    background-color: #4B8D2F;
    color: white;
}


/* Styling addressLink class */
.addressLink {
    list-style: none;
    overflow: hidden;
    font: 16px;
    margin: 30px;
    padding: 0px;
}

/* Floating addressLink list */
.addressLink li {
    float: left;
}

/* Styling addressLink list's anchor element*/
.addressLink li a {
    background: #006600;
    color: white;
    text-decoration: none;
    padding: 5px 0px 5px 65px;
    position: relative;
    float: left;
}

.addressLink li a:after {
    content: " ";
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #006600;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 2;
}

.addressLink li a:before {
    content: " ";
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 1;
}

/* First child padding */
.addressLink li:first-child a {
    padding-left: 10px;
}

/* Second child bg-color */
.addressLink li:nth-child(2) a {
    background: #009933;
}

/* Second child Second half bg-color */
.addressLink li:nth-child(2) a:after {
    border-left-color: #009933;
}

/* Third child bg-color */
.addressLink li:nth-child(3) a {
    background: #33cc33;
}

/* Third child Second half bg-color */
.addressLink li:nth-child(3) a:after {
    border-left-color: #33cc33;
}

/* Last child bg-color and text-color */
.addressLink li:last-child a {
    background: transparent !important;
    color: black;
}

.addressLink li:last-child a:after {
    border: 0px;
}

/* Hover on list's anchor element */
.addressLink li a:hover {
    background: #99ff99;
    color: #000;
}

.addressLink li a:hover:after {
    border-left-color: #99ff99 !important;
}

.category {
    background-color: white;
    height: auto;
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
}

.category h1 {
    font-weight: 900;
    font-size: 50px;
}

.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.category-content {
    width: 20%;
    height: 450px;
    background-color: #C4C4C4;
    margin-bottom: 40px;
    display: block;
    margin: 20px;
    transition: transform .2s;
}

.category-content:hover{
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    border: 2px solid #C4C4C4;
}

.category-content-pic {
    width: 100%;
    height: 300px;
}

.category-content-desc h3 {
    font-weight: 600;
}

.category-content-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: block;
    background-color: #F0F0DE;
    height: auto;
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    text-align: center;
}

table th {
    text-align: center;
    padding: 20px;
}

.active {
    background: #99ff99;
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    border: 0;
}
