<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ data[0].name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='item.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='category_style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/749dd8838c.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="top-nav">
    <div>
      <img src="/static/images/LandingPage/1a.png" class="logo">
    </div>
    <div style="margin-left: 100px; margin-right: 100px;">
      <form method="POST" action="/search">
        <input type="text" placeholder=" Search in HAUS Home and Living" name="search" size="80" />
        <button type="submit"
          style="border: none; padding: 10px; width: 50px; background-color: #f9f9f9; cursor: pointer;"><i
            class='fa fa-search'></i></button>
      </form>
    </div>
    <div class="w3-container" style="float: right; width: 15%;display: inline-flex; ">

      <i class="fa-regular fa-heart fa-2x" style="margin-right: 30px; cursor: pointer;"></i>
      <i class="fa-solid fa-cart-shopping fa-2x" style="cursor: pointer; margin-right: 30px;" onclick="location.href='/cart'"></i>
      <i class="fa fa-bell fa-2x" style="cursor: pointer;  margin-right: 30px;"></i>
      <div class="dropdown">
        <i class="fa fa-user fa-2x" style="cursor: pointer;"></i>
        <div class="dropdown-content">
          <a href="/profiles">Account</a>
          <a href="/login">Login</a>
          <a href="/register">Signup</a>
        </div>
        {% if account != "" %}
            <a style="font-size:0.8em;">{{account}}</a>
          {% endif %}
      </div>
    </div>
  </div>
  <div class="categories">
    <ul class="catg-line">
      <li><a href="{{ url_for('bath') }}">Bath</a></li>
      <li><a href="{{ url_for('bedding') }}">Bedding</a></li>
      <li><a href="{{ url_for('furniture') }}">Furniture</a></li>
      <li><a href="{{ url_for('storage') }}">Storage & Organization</a></li>
      <li><a href="{{ url_for('laundry_cleaning') }}">Laundry & Cleaning Equipment</a></li>
      <li><a href="{{ url_for('kitchen_dining') }}">Kitchen & Dining</a></li>
      <li><a href="{{ url_for('lighting') }}">Lighting</a></li>
      <li><a href="{{ url_for('decor') }}">Home Decor</a></li>
      <li><a href="{{ url_for('outdoor_garden') }}">Outdoor & Garden</a></li>
      <li><a href="{{ url_for('stationary_craft') }}">Stationery & Craft</a></li>
      <li><a href="{{ url_for('tools_home') }}">Tools & Home Improvement</a></li>
    </ul>
  </div>

  <div class="breadcrumb">
    <ul class="addressLink">
      <li>
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li>
         <a href="/{{category}}">{{info[0].category}}</a>
      </li>
      <li>
        <a href="/product/{{sub_category}}">{{info[0].sub_category}}</a>
      </li>
      <li>
        <a href="#" style="color: green;">{{data[0].name}}</a>
      </li>
    </ul>
  </div>
  <!--product desc-->
  <section>
    <div class="container">
      <div class="container-info">
        <div class="picture">
          <div class="category-content-pic">
            <img src="/static/{{info[0].photo_link}}">
          </div>
        </div>
        <div class="description">
          <h3>{{data[0].name}}</h3>
          <div class="rating">
            <div class="star" style="padding-right: 20px;">
              <span style="color: black;">{{info[0].rating}}</span>
              {% for x in range(5) %}
                {% if info[0].rating > x  %}
                  <span class="fa fa-star checked"></span>
                {% else %}
                  <span class="fa fa-star"></span>
                {% endif %}
              {% endfor %}
            </div>
            <div style="border-right: 1px solid black; padding-left: 20px; padding-right: 20px;">
              <span>{{info[0].buy_rate}} Ratings</span>
            </div>
            <div style="padding-left: 20px;">
              <span>{{info[0].sold}} Sold</span>
            </div>
          </div>
          <div class="price">
            ₱{{data[0].price}}
            <del style="color: gray;">
              <div style="color: gray; font-size: 15px; ">₱{{data[0].price * 2}}</div>
            </del>
          </div>
          <br>
          <div class="color">
            <div style="padding-right: 40px;">Color</div>
            <div>
              <!--Colors. Duplicate if needed-->
              <button>Slate Gray</button>
              <button>Silver</button>
            </div>

          </div>
          <br>
          <div class="qty">
            <div class="counter">
              <span class="down" onClick='decreaseCount(event, this)'>-</span>
              <input type="text" value="1">
              <span class="up" onClick='increaseCount(event, this)'>+</span>
            </div>
            <script type="text/javascript">
              function increaseCount(a, b) {
                var input = b.previousElementSibling;
                var value = parseInt(input.value, 10);
                value = isNaN(value) ? 0 : value;
                value++;
                input.value = value;
              }
              function decreaseCount(a, b) {
                var input = b.nextElementSibling;
                var value = parseInt(input.value, 10);
                if (value > 1) {
                  value = isNaN(value) ? 0 : value;
                  value--;
                  input.value = value;
                }
              }
            </script>
          </div>
          <br>
          <div class="buttons">
            <button class="addCart" onclick="location.href='/add_to_cart/{{data[0].prod_id}}'" style="cursor: pointer;">Add to Cart</button>
            <button class="buy">Buy Now</button>

          </div>
        </div>
        <div class="shipping-info">

          <hr>
          <div>
            <span style="font-size: 12px; color: gray;">Return & Warranty</span>
            <table class="return">
              <tr>
                <td><i class="fa-solid fa-circle-check"></i></td>
                <td>100% Authentic</td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-circle-check"></i></td>
                <td>30 days return <br>
                    <span style="font-size: 12px; color: gray;">Change of mind is not allowed</span>
                </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-ban"></i></td>
                <td>Warranty not available</td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--PRODUCT SPECIFICATIONS-->
  <section>
    <div class="container">
      <div>
        <h3 style="margin: 10px;">Product Specifications</h3>
        <div style="background-color: white; margin: 0;">
          <table class="specs">
            <tr>
              <td>Category:</td>
              <td>Home > {{info[0].category}} > {{info[0].sub_category}}</td>
            </tr>
            <tr>
              <td>Brand: </td>
              <td>Brand X</td>
            </tr>
            <tr>
              <td>Type: </td>
              <td>{{info[0].sub_category}}</td>
            </tr>
            <tr>
              <td>Stock:</td>
              <td>{{data[0].quantity}}</td>
            </tr>
          </table>
          <br>
        </div>
      </div>
      <div>
        <h3 style="margin: 10px;">Product Description
        </h3>
        <div style="background-color: white; margin: 0;">
          <table class="desc">
            <tr>
              <td>Origin:CN(Origin)</td>
              <td>Style:Europe</td>
            </tr>
            <tr>
              <td>Size: 16inX24in (40cmX60cm) (WxL)</td>
              <td>Technics:Machine Made</td>
            </tr>
            <tr>
              <td>Material:PVC</td>
              <td>Application:Bathroom</td>
            </tr>
            <tr>
              <td>Pattern:Print</td>
              <td>Material:Synthetische Materialien</td>
            </tr>
            <tr>
              <td>Feature:Eco-Friendly</td>
              <td>Use:Kitchen,living room,door</td>
            </tr>
            <tr>
              <td>Feature:Stocked</td>
              <td>Feature:Anti-Slip</td>
            </tr>
          </table>
          <br>
        </div>
      </div>

    </div>

  </section>
  <!--PRODUCT REVIEWS-->
  <div class="container">
    <div style="border-bottom: solid 1px #757575;">
      <h3 style="margin: 10px; padding: 10px;">Product Reviews</h3>
      <div class="prod-rating">
        <div style=" width: 20%;">

        </div>
        <div class="btn-rate">
          <button>All (12.4K)</button>
          <button>5 star (9.3K)</button>
          <button>4 star (1.6K)</button>
          <button>3 star (583)</button>
          <button>2 star (298)</button>
          <button>1 star (57)</button>
          <button>With Comments (8.1K)</button>
          <button>With Media (5.6K)</button>

        </div>
      </div>

    </div>
<!--COMMENT1-->
    {% for x in comments %}
    <div class="comment">
      <br>
      <div class="top">
        <div class="review">
          {% for r in range(5) %}
            {% if x.rating > r %}
              <span class="fa fa-star checked"></span>
            {% else %}
              <span class="fa fa-star"></span>
            {% endif %}
          {% endfor %}
          <span class="title-right">07 June 2022</span>
        </div>
      </div>
      <div class="middle">
        <span class="cust-name">by {{x.user.firstname}} {{x.user.lastname}}</span>
        <span class="verified">Verified Purchase</span>
      </div>
      <div class="item-content">
        <div class="caption">
          {{x.comment}}
        </div>
        <div class="image-content">
          <img src="/static/{{info[0].photo_link}}">
        </div>
        <div class="color-type">
        </div>
      </div>
      <div class="bot">
        <span class="fa-solid fa-thumbs-up like"></span>
        <span>4</span>
      </div>
      <br>
    </div>
    {% endfor %}
    <!--COMMENT2-->

  </div>
  <section>
    <div class="container">

    </div>
  </section>
  <hr>
  <div class="footer">
    <br>
    <table class="foot">
      <tr>
        <th>News and Info</th>
        <th colspan="2">Top Brands and Pages</th>
        <th colspan="2" style="width: 30%;">Contacts</th>
      </tr>
      <tr>
        <td>Products</td>
        <td>Ikea</td>
        <td>Mandaue Foam</td>
        <td>Email</td>
        <td style="text-align: left; color:blue;">haus_service@email.com</td>
      </tr>
      <tr>
        <td>Guarantees</td>
        <td>Uratex</td>
        <td>Firefly</td>
        <td>Phone</td>
        <td style="text-align: left; color:blue;">+63 9123 456 789</td>
      </tr>
      <tr>
        <td>New Products</td>
        <td>Wilton</td>
        <td>Dewalt</td>
        <td>Address</td>
        <td style="text-align: left; color:blue;">HAUS Corp. Cebu City 6000, Philippines</td>
      </tr>
      <tr>
        <td>Wholesale</td>
        <td>Cofta</td>
        <td>Bosch</td>
      </tr>
      <tr>
        <td>Customer Service</td>
        <td>Stanley</td>
        <td>Philflex</td>
      </tr>

    </table>
    <br>
    Copyright &copy; HAUS Home & Living, 2022. The HAUS is not responsible for contents of external sites
  </div>
</body>

</html>